<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body onload="checkLocalStorage()">
	<% include ./partials/header %>
	<main>
        <div class="journal_page_container">
			<% include ./partials/date_selector %>
			<br>
			<img id="journal_page" src="http://www.rubysjournal.com/single_images/' . $image_file_name . '" alt=RubysJournal" />
            <div id="journal_text">
                <div id="section_read">
                	<section>
	                    <table>
	                        <tbody id="readId">
							</tbody>
						</table>
					</div>
					<div id="section_transcribe">
	                    <table>
	                        <tbody id="transcribeId">
							</tbody>
						</table>
					</section>
				</div>
			</div>
		 </div>
    </main>
		<% include ./partials/footer %>
</body>
</html>
