<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
	<main>
        <div class="journal_page_container">
			<% include ./partials/date_selector %>
			<!-- <?php
				echo '<br>';
				echo '<img id="journal_page" src="http://www.rubysjournal.com/single_images/' . $image_file_name . '" alt=RubysJournal" />';
				?> -->

            <div id="journal_text">
                <div id="section_read" display="block">
                	<h1>read</h1>
                    <table>
                        <tbody>
							<ul>
							    <% results.forEach(function(r) { %>
							        <li><%= r.entry_date %> - <%= r.entry_text %></li>
							    <% }); %>
							</ul>
						</tbody>
					</table>
				</div>
				<div id="section_transcribe" display="none">
					<h1>transcribe</h1>
                    <table>
                        <tbody>
							<ul>
							    <% results.forEach(function(r) { %>
							        <li><%= r.entry_date %> - <%= r.entry_text %></li>
							    <% }); %>
							</ul>
						</tbody>
					</table>
				</div>
			</div>
		 </div>
    </main>
		<% include ./partials/footer %>
</body>
</html>
