<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Entry Data - in pages</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.entry_date %> - <%= r.entry_text %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
