<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body>
	<% include ./partials/header %>
	<% include ./partials/date_selector %>

	<div class="container">
		<h2>Entry Data - in pages</h2>

			<ul>
			    <% results.forEach(function(r) { %>
			        <li><%= r.entry_date %> - <%= r.entry_text %></li>
			    <% }); %>
			</ul>

		</div>
		<% include ./partials/footer %>
</body>
</html>
