<!DOCTYPE html>
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
</head>

<body>

<!-- <% include ../partials/nav.ejs %> -->

<div class="container">
<h2>Entry Data</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.entry_date %> - <%= r.entry_text %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
